/* Noto SansとYaku Hanのセット */
/* @import url('https://cdn.jsdelivr.net/npm/yakuhanjp@3.2.0/dist/css/yakuhanjp.min.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Bonheur+Royale&display=swap'); */

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* @import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities"; */

/* body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: black;
} */
/*
.test {
  color: aqua;
} */
